openapi: 3.1.0
info:
  title: Syft Data & Export Lookup API
  version: alpha
  description: REST APIs for querying Syft Data programmatically. The Lookup API returns company and contact intelligence (site sessions and LinkedIn engagement) for accounts and people Syft has already observed on your site or LinkedIn ads. The Export API retrieves the results of a motion's execution for polling integrations. The Lookup API is in alpha and available to select customers. Both APIs authenticate with a Server Secret Key that starts with `sk_live_`.
  termsOfService: https://www.syftdata.com/terms
  contact:
    name: Syft Data Support
    email: support@syftdata.com
    url: https://www.syftdata.com/support
servers:
- url: https://app.syftdata.com/api
  description: Production
security:
- bearerAuth: []
- secretKeyHeader: []
tags:
- name: Lookup
paths:
  /syft/lookup:
    post:
      operationId: lookupEntities
      summary: Look up a company or contact by email or domain
      description: Look up Syft company and contact intelligence by email or domain. Returns only companies and contacts Syft has already observed; returns 404 if Syft has not seen the entity. Not an enrichment API.
      tags:
      - Lookup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LookupRequest'
      responses:
        '200':
          description: Company and matching contacts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupResponse'
        '400':
          description: Missing both email and domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid or missing secret key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No matching company or contact found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    LookupRequest:
      type: object
      description: One of email or domain is required. email takes precedence.
      properties:
        email:
          type: string
          description: Email address to look up.
        domain:
          type: string
          description: Company domain to look up (e.g. acme.com).
        includeActivity:
          type: boolean
          default: false
          description: Include site_activity and linkedin_activity arrays on each contact.
    SiteActivity:
      type: object
      properties:
        active_time:
          type: integer
          description: Seconds spent on site
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        pages_visited:
          type: array
          items:
            type: string
        signals:
          type: array
          items:
            type: string
        referrer:
          type: string
        intent:
          type: string
          enum:
          - low
          - medium
          - high
          - very_high
        city:
          type: string
        state:
          type: string
        country:
          type: string
    Error:
      type: object
      properties:
        error:
          type: string
          examples:
          - Invalid input
          - Unauthorized
          - Not found
    Contact:
      type: object
      properties:
        email:
          type: string
        name:
          type: string
        title:
          type: string
        syft_sessions:
          type: integer
        syft_first_seen:
          type: string
          format: date-time
        syft_last_seen:
          type: string
          format: date-time
        site_activity:
          type: array
          items:
            $ref: '#/components/schemas/SiteActivity'
        linkedin_activity:
          type: array
          items:
            $ref: '#/components/schemas/LinkedInActivity'
    Company:
      type: object
      properties:
        domain:
          type: string
        name:
          type: string
        industry:
          type: string
        syft_sessions:
          type: integer
        syft_visitors:
          type: integer
        syft_first_seen:
          type: string
          format: date-time
        syft_last_seen:
          type: string
          format: date-time
        syft_purchase_intent:
          type: string
          enum:
          - low
          - medium
          - high
          - very_high
    LookupResponse:
      type: object
      properties:
        company:
          $ref: '#/components/schemas/Company'
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/Contact'
    LinkedInActivity:
      type: object
      properties:
        start_time:
          type: string
          format: date-time
        linkedin_impressions:
          type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Server Secret Key (starts with sk_live_) passed as a Bearer token.
    secretKeyHeader:
      type: apiKey
      in: header
      name: x-syft-secret-key
      description: Server Secret Key (starts with sk_live_) passed in the x-syft-secret-key header.
